@model Foody.EntityLayer.Concrete.Category


@{
    ViewData["Title"] = "CreateCatogory";
    Layout = "~/Views/Shared/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Tables</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Tables</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Basic Tables</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hoverable Table</div>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="CreateCategory">
                            <label>CategoryName</label>
                            <input type="text" asp-for="CategoryName" class="form-control" />
                            <br />
                            <button type="submit" class="btn btn-primary">Create Category</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>